[submodule "HYGRO-Tester-Design-AXI/IP/vivado-library"]
	path = HYGRO-Tester-Design-AXI/IP/vivado-library
	url = https://github.com/timothystotts/vivado-library.git
	branch = arty-a7-100-vivado-2019.1
